body {
    margin: 0 auto;
}

.to-do-form {
    display: flex;
    justify-content: center;
}

.header {
    background-color: #79d84e;
    padding: 10px 40px;
    color: white;
    text-align: center;
}

input {
    border: none;
    border-radius: 0;
    width: 400px;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.add-button {
    padding: 7.5px;
    width: 200px;
    background-color: #f5d64b;
    color: #4d3939;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.add-button:hover {
    background-color: #af9935;
}

.to-do-contents {
    display: flex;
    justify-content: center;
}

ul {
    flex-direction: column;
    width: 600px;
}

ul li {
    position: relative;
    background-color: #f3f3f3;
    color: #574040;
    width: 85%;
    padding: 10px 8px 12px 40px;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
}

ul li:nth-child(odd) {
    background: #e4e4e4;
}

ul li:hover {
    background-color: #70cf70;
}

ul li.checked {
    background-color: #218323;
    color: #e4d7d7;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #ee9a9a;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.delete {
    float: right;
}

.delete:hover {
    color: #fa4444;
}